{
  "parser": "@typescript-eslint/parser",
  "extends": [  "airbnb-base","airbnb-typescript/base","plugin:@typescript-eslint/recommended"],
  "ignorePatterns": ["*.log"],
  "parserOptions": { "ecmaVersion": "latest", "sourceType": "module","project": "./tsconfig.json" },
  "rules": {
    "array-bracket-spacing": "off",
    "block-spacing": "off",
    "camelcase": ["warn", { "properties": "always" }],
    "comma-dangle": "warn",
    "@typescript-eslint/comma-dangle": "warn",
    "computed-property-spacing": ["warn", "never"],
    "default-case": "warn",
    "linebreak-style": "off",
    "max-len": [
      "off",
      {
        "code": 100,
        "tabWidth": 2,
        "ignoreUrls": true
      }
    ],
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "max-statements-per-line": ["warn", { "max": 1 }],
    "new-cap": "warn",
    "no-case-declarations": "off",
    "no-duplicate-imports": ["warn", { "includeExports": true }],
    "no-empty-function": "warn",
    "no-eval": "warn",
    "no-irregular-whitespace": "warn", 
    "no-multiple-empty-lines": ["warn", { "max": 1 }],
    "no-trailing-spaces": "warn",
    "no-unreachable": "warn",
    "no-unused-vars": "warn",
    "no-var": "warn",
    "object-curly-spacing": ["warn", "always"],
    "prefer-const": "off",
    "quotes":[ "warn", "single"],
    "semi": ["warn", "never"],
    "@typescript-eslint/semi":["warn", "never"]
  }
}
